<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TakGhahQeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TakGhahWeb.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <!--icofont icon css-->
    <link rel="stylesheet" href="css/icofont.min.css">
    <!--ginbo icon css-->
    <link rel="stylesheet" href="css/ginbo.css">
    <!--jqvmap css-->
    <link rel="stylesheet" href="css/jqvmap.css">
    <!--magnific popup css-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;display=swap"
          rel="stylesheet">
    <!--main css-->
    <link rel="stylesheet" href="css/app.css">
    <!--  rtl style-->
    <link rel="stylesheet" href="css/rtl.css">
</head>
<body style="direction:rtl" class="rtl">
    <header>
        <partial name="_Header" />
    </header>

    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <partial name="_Footer" />
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
