@{
    ViewData["Title"] = "Home Page";
}

<div class="preloader" id="preloader"></div>
<!--End Preloader-->
<!-- header top begin -->

<!-- header top end -->
<!-- banner top begin -->
<section class="banner-section rtl-area">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="banner-text rtl">
                        <h2 style="font-size:100%">خوش آمدید به وب سایت تکگاه، منبعی مطمئن برای آخرین اخبار و رویدادهای مهم در دنیای امروز. از اخبار و تکنولژی  اقتصادی تا اخبار فرهنگی و ورزشی، ما تمامی اخبار را به شما ارائه می‌دهیم.</h2>
                        <p>با دنبال کردن وب سایت تکگاه، شما همواره از آخرین اخبار و تحولات مطلع خواهید بود. از این پس، هیچ خبر مهمی را از دست نخواهید داد. به ما بپیوندید و از اخبار جذاب و متنوع ما لذت ببرید.</p>
                        <a class="buy-btn ltl" href="#"><img src="img/shopping-cart.png" alt="image">اخبار</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner-right">
                        <div class="banner-img"></div>
                        <div class="banner-img-overlay">
                            <img src="img/watch-6.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner top end -->
<!-- about section begin -->
<section class="about-ginbo-section navigation rtl-area" id="about-ginbo-section">
    <div class="about-ginbo-area navigation">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                    <div class="about-left">
                        <div class="video-box">
                            <div class="icon-box">
                                <a href="#" class="video-play-btn popup-video"><img src="img/play-icon.png" alt="image"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-right rtl">
                        <div class="about-text">
                            <h2 class="about-title" style="font-size:100%">اخبار روز تکگاه متن: مطالب جدید و به روز در حوزه فناوری، اقتصاد، گیم و فرهنگ را در اینجا بخوانید و از آخرین اخبار مطلع شوید</h2>
                            <h2 class="about-subtitle">گزارش های ویژه تکگاه متن: گزارش های عمیق و تحلیلی درباره موضوعات مختلف از جمله اقتصاد، فناوری و گیم را در اینجا بخوانید و دیدگاه های متفاوت را بشنوید.</h2>
                            <p class="about-description">
                                مصاحبه های اختصاصی تکگاه متن: مصاحبه های اختصاصی با شخصیت های برجسته در حوزه های مختلف از جمله هنرمندان، گیم بازان و تکنولوژی و کسب و کارها را در اینجا بخوانید و نگاهی نو به زندگی آنها بیندازید.
                            </p>
                        </div>
                        <div class="check-point">

                            <p>
                                <i class="icofont-check-circled"></i> تکگاه یک سایت خبری و تولید محتوایی است که به تازگی به بازار وارد شده است. این سایت به دنبال ارائه اخبار و مطالب جذاب و متنوع در حوزه های مختلف از جمله فناوری، اقتصاد، سیاست و فرهنگ است. تکگاه تلاش می کند تا با انتشار محتوای با کیفیت و تحلیل های عمیق، خوانندگان خود را مطلع و آگاه نگه دارد.
                            </p>
                            <p>
                                <i class="icofont-check-circled"></i> با تکیه بر تیمی متخصص و با تجربه، تکگاه به ارائه اخباری سریع، دقیق و قابل اعتماد می پردازد. این سایت تلاش می کند تا با رویکردی حرفه ای و متفاوت، محتوای منحصر به فردی را به خوانندگان ارائه دهد و آنها را در جریان آخرین رویدادها و تحولات قرار دهد.
                            </p>
                            <p>
                                <i class="icofont-check-circled"></i> تکگاه به عنوان یک منبع معتبر و قابل اعتماد برای اطلاع رسانی، تحلیل و تفسیر اخبار، به دنبال ایجاد ارتباط نزدیکتر با خوانندگان خود است. این سایت تمام تلاش خود را برای ارائه محتوایی متنوع و جذاب و ایجاد تعامل با مخاطبانش می کند تا یک جامعه فعال و اطلاع رسانی راه اندازی کند.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- about section end -->
<!-- features section begin -->
<section class="features-section" id="features-section">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-9">
                <div class="features-text">
                    <h2 class="features-title">شبکه های مجازی ما و اعطلاع رسانی</h2>
                    <h2 class="features-subtitle">آپ و وب سایت ربات تلگرامی ما </h2>
                    <p class="features-description">
                       میتوانید برای اعطلاع رسانی بیشتر به وب سایت و اپ ما سر بزنید 
                    </p>
                </div>
            </div>

        </div>

        <div class="single-item-top">
            <div class="row mb-60-none">

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-about-box">
                        <div class="icon-box-outer">
                            <div class="icon-box">
                                <i class="ginbo-oparate"></i>
                            </div>
                        </div>
                        <h3>راه اندازی آسان</h3>
                        <p> 
                            فقط با چنت کلیک وارد سیستم تکگاه ما بشید و از نرخ بازار 
                            و ارزو آب و هوا و... نوتیفکشن براتون بیاد
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-about-box">
                        <div class="icon-box-outer">
                            <div class="icon-box">
                                <i class="ginbo-gps-control"></i>
                            </div>
                        </div>
                        <h3>جی پی اس</h3>
                        <p>
                            جی چی اس خودتون رو ثبت کنید تا اخبار های همون مکان و اب و هوا برای شما ارسال بشه
                        </p>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-about-box">
                        <div class="icon-box-outer">
                            <div class="icon-box">
                                <i class="ginbo-stunning-design"></i>
                            </div>
                        </div>
                        <h3>طراحی حرفه ای</h3>
                        <p> 
                            طراحی ساده بی نقص تکگاه دارای تیم حرف ای میباشد 
                        </p>

                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-about-box">
                        <div class="icon-box-outer">
                            <div class="icon-box">
                                <i class="ginbo-android-apps"></i>
                            </div>
                        </div>
                        <h3>ایفون و اندروید</h3>
                        <p> 
                            هم میتونید از سایت و اپ ما استفاده نمایید از امکانات بیشتر لذت ببرید در تکگاه
                        </p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-about-box">
                        <div class="icon-box-outer">
                            <div class="icon-box">
                                <i class="ginbo-voice-assistant"></i>
                            </div>
                        </div>
                        <h3>دستیار صوتی</h3>
                        <p>
                            میتوانید از دستیار صوتی قدرت مند تکگاه استفاده نمایید.
                        </p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="single-about-box">
                        <div class="icon-box-outer">
                            <div class="icon-box">
                                <i class="ginbo-call-sms"></i>
                            </div>
                        </div>
                        <h3>تماس و پیام کوتاه</h3>
                        <p>
                            خبر خوش برای کاربران تکگاه نوتیفکشن و پیام ارسال میشه رایگان.
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- features section end -->
<!-- product showcase section begin -->
<section class="product-showcase-section">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-9">
                <div class="product-showcase-text">
                    <h2 class="product-showcase-title">تکنولژی</h2>
                    <h2 class="product-showcase-subtitle">بهترین اخبار تکنولژی در سایت تکگاه</h2>
                    <p class="product-showcase-description">
                      بهترین مقاله ها یا مباحث درسایت ما وجود دارد برای استفاده از این مقالات باید سرچ کنید 
                    </p>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="product-review d-flex justify-content-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-review-area">
                                <div class="image-warp">
                                    <img src="img/watch-2.png" alt="image">
                                </div>

                                <div class="drag-element position">
                                    <div class="image-area">
                                        <h3>خانه و محصولات</h3>
                                        <img src="img/pin.png" alt="image">
                                    </div>
                                </div>


                                <div class="drag-element position">
                                    <div class="image-area">
                                        <h3>ورزشی</h3>
                                        <img src="img/pin.png" alt="image">
                                    </div>
                                </div>

                                <div class="drag-element position-2">
                                    <div class="image-area">
                                        <h3>مقالات</h3>
                                        <img src="img/pin.png" alt="image">
                                    </div>
                                </div>

                                <div class="drag-element position-3">
                                    <div class="image-area">
                                        <h3>اخبار</h3>
                                        <img src="img/pin.png" alt="image">
                                    </div>
                                </div>

                                <div class="drag-element position-4">
                                    <div class="image-area">
                                        <h3>تکنولژی</h3>
                                        <img src="img/pin.png" alt="image">
                                    </div>
                                </div>

                                <div class="drag-element position-5">
                                    <div class="image-area">
                                        <h3>گیم</h3>
                                        <img src="img/pin.png" alt="image">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- product showcase section end -->
<!-- world map section begin -->
<section class="world-map-section">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-9">
                <div class="world-map-text">
                    <h2 class="world-map-title">بالابی 10 ادمین </h2>
                    <h2 class="world-map-subtitle">درسراسر کشور</h2>
                    <p class="world-map-description">
                        این سایت از تکنولژی جدید استفاده میکنه به زودی از هوش مصنوعی و سوالات خود را از این وب سایت بپرسید 
                    </p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">


                <div class="map-area" id="vmap">

                    <div class="drag-element position-1">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">گرین لند از : محله</p>
                        </div>
                    </div>

                    <div class="drag-element position-2">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">کانادا از : محله </p>
                        </div>
                    </div>

                    <div class="drag-element position-3">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area"> آمریکا از : محله </p>
                        </div>
                    </div>

                    <div class="drag-element position-4">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">برزیل : محله لورم</p>
                        </div>
                    </div>

                    <div class="drag-element position-5">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area"> کنگو از : محله </p>
                        </div>
                    </div>

                    <div class="drag-element position-6">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">از : محله روسیه</p>
                        </div>
                    </div>

                    <div class="drag-element position-7">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">از : محله ایران</p>
                        </div>
                    </div>

                    <div class="drag-element position-8">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">از : محله چین</p>
                        </div>
                    </div>

                    <div class="drag-element position-9">
                        <span class="image-area">
                            <img src="img/map-dot.png" alt="image">
                        </span>
                        <div class="details">
                            <h6 class="name">نقطه ایکس</h6>
                            <p class="area">از : محله استرالیا</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row justify-content-md-center">

            <div class="col-lg-4 col-md-6">
                <div class="single-item">
                    <div class="client-info">
                        <div class="icon-box-area">
                            <div class="icon-box">
                                <i class="ginbo-shipping"></i>
                            </div>
                        </div>
                        <div class="client-details">
                            <h5>استفاده رایگان</h5>
                            <p> بدون محدودیت و رایگان</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-item">
                    <div class="client-info">
                        <div class="icon-box-area">
                            <div class="icon-box">
                                <i class="ginbo-return-policy"></i>
                            </div>
                        </div>
                        <div class="client-details">
                            <h5>کسب درآمد</h5>
                            <p>کسب درآمد ازسایت تکگاه</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-0">
                <div class="single-item mt-30">
                    <div class="client-info">
                        <div class="icon-box-area">
                            <div class="icon-box">
                                <i class="ginbo-support"></i>
                            </div>
                        </div>
                        <div class="client-details">
                            <h5>پشتیبانی</h5>
                            <p>پشتیبانی ۲۴ ساعته</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- world map section end -->
<!-- products section begin -->
<section class="products-section ltl" id="products-section">
    <div class="container">

        <div class="row d-flex justify-content-center rtl">
            <div class="col-lg-9">
                <div class="products-text">
                    <h2 class="products-title">مقالات مهم ما</h2>
                    <h2 class="products-subtitle">بهترین ها را از ما بخواهید</h2>
                    <p class="products-description">
                        بهترین هارا ازما بخواهید ونهاییت استفاده رو ببرید هروز بروز باشید با تکگاه
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="products-section-slider">

                    <div class="col">
                        <div class="item-single">
                            <div class="shadow-block">

                                <div class="img-block">
                                    <div class="sale-ribbon-left"><span>جدید</span></div>
                                    <div class="sale-ribbon"><span>ف<br>ر<br>و<br>ش </span></div>
                                    <div class="image-area">
                                        <img src="img/watch-3.png" alt="image">
                                    </div>
                                </div>

                                <div class="info-block">
                                    <h3 class="name">ساعت</h3>
                                    <div class="price-block">
                                        <span class="price">  9000 <br>هزار تومان</span>
                                    </div>
                                    <div class="btn-buy-now">
                                        <a class="buy-btn" href="#">بخرید<i class="icofont-cart"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item-single">
                            <div class="shadow-block">

                                <div class="img-block">
                                    <div class="sale-ribbon-left"><span>جدید</span></div>
                                    <div class="sale-ribbon"><span>ف<br>ر<br>و<br>ش </span></div>
                                    <div class="image-area">
                                        <img src="img/watch-3.png" alt="image">
                                    </div>
                                </div>

                                <div class="info-block">
                                    <h3 class="name">ساعت</h3>
                                    <div class="price-block">
                                        <span class="price">  9000 <br>هزار تومان</span>
                                    </div>
                                    <div class="btn-buy-now">
                                        <a class="buy-btn" href="#">بخرید<i class="icofont-cart"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item-single">
                            <div class="shadow-block">

                                <div class="img-block">
                                    <div class="sale-ribbon-left"><span>جدید</span></div>
                                    <div class="sale-ribbon"><span>ف<br>ر<br>و<br>ش </span></div>
                                    <div class="image-area">
                                        <img src="img/watch-3.png" alt="image">
                                    </div>
                                </div>

                                <div class="info-block">
                                    <h3 class="name">ساعت</h3>
                                    <div class="price-block">
                                        <span class="price">  9000 <br>هزار تومان</span>
                                    </div>
                                    <div class="btn-buy-now">
                                        <a class="buy-btn" href="#">بخرید<i class="icofont-cart"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item-single">
                            <div class="shadow-block">

                                <div class="img-block">
                                    <div class="sale-ribbon-left"><span>جدید</span></div>
                                    <div class="sale-ribbon"><span>ف<br>ر<br>و<br>ش </span></div>
                                    <div class="image-area">
                                        <img src="img/watch-3.png" alt="image">
                                    </div>
                                </div>

                                <div class="info-block">
                                    <h3 class="name">ساعت</h3>
                                    <div class="price-block">
                                        <span class="price">  9000 <br>هزار تومان</span>
                                    </div>
                                    <div class="btn-buy-now">
                                        <a class="buy-btn" href="#">بخرید<i class="icofont-cart"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item-single">
                            <div class="shadow-block">

                                <div class="img-block">
                                    <div class="sale-ribbon-left"><span>جدید</span></div>
                                    <div class="sale-ribbon"><span>ف<br>ر<br>و<br>ش </span></div>
                                    <div class="image-area">
                                        <img src="img/watch-3.png" alt="image">
                                    </div>
                                </div>

                                <div class="info-block">
                                    <h3 class="name">ساعت</h3>
                                    <div class="price-block">
                                        <span class="price">  9000 <br>هزار تومان</span>
                                    </div>
                                    <div class="btn-buy-now">
                                        <a class="buy-btn" href="#">بخرید<i class="icofont-cart"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="item-single">
                            <div class="shadow-block">

                                <div class="img-block">
                                    <div class="sale-ribbon-left"><span>جدید</span></div>
                                    <div class="sale-ribbon"><span>ف<br>ر<br>و<br>ش </span></div>
                                    <div class="image-area">
                                        <img src="img/watch-3.png" alt="image">
                                    </div>
                                </div>

                                <div class="info-block">
                                    <h3 class="name">ساعت</h3>
                                    <div class="price-block">
                                        <span class="price">  9000 <br>هزار تومان</span>
                                    </div>
                                    <div class="btn-buy-now">
                                        <a class="buy-btn" href="#">بخرید<i class="icofont-cart"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- products section end -->
<!-- testimonials section begin -->
<section class="testimonials-section ltl" id="reviews">
    <div class="container">

        <div class="row d-flex justify-content-center rtl">
            <div class="col-lg-9">
                <div class="testimonials-text">
                    <h2 class="testimonials-title">نظرات کاربران</h2>
                    <h2 class="testimonials-subtitle"></h2>
                    <p class="testimonials-description">
                        نظرات کاربران سایت تکگاه
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="testimonials-slider-area">

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="single-item">
                            <div class="item-comment rtl">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با
                                    تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                    چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="client-img-area">
                                    <div class="client-img">
                                        <img src="img/client-1.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h5>مستر ایکس</h5>
                                    <p>مدیر</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- testimonials section end -->
<!-- faqs section begin -->
<section class="faqs-section rtl-area" id="faqs-section">
    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-lg-9">
                <div class="faqs-text">
                    <h2 class="faqs-title">سوالات متداول</h2>

                    <p class="faqs-description">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-8 col-md-8">

                <div class="faqs-accordion" id="faqs-accordion">
                    <div class="card faqs-card">
                        <div class="card-header faqs-card-header" id="faqs-headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link faqs-btn-link" data-toggle="collapse"
                                        data-target="#faqs-collapseOne" aria-expanded="true"
                                        aria-controls="faqs-collapseOne">
                                    تکگاه چیست و چه نوع مقالات و محتوایی را ارائه می‌دهد؟
                                </button>
                            </h5>
                        </div>

                        <div id="faqs-collapseOne" class="collapse show faqs-show" aria-labelledby="faqs-headingOne"
                             data-parent="#faqs-accordion">
                            <div class="card-body faqs-card-body">
                                تکگاه یک سایت مقاله‌ای و تولید محتوایی است که به ارائه مقالات و محتواهای متنوع و تنوع‌پذیر در زمینه‌های مختلف می‌پردازد. این سایت ممکن است مقالات خبری، تحلیلی، آموزشی و یا اطلاعات عمومی را منتشر کند.
                            </div>
                        </div>
                    </div>
                    <div class="card faqs-card">
                        <div class="card-header faqs-card-header" id="faqs-headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed faqs-btn-link" data-toggle="collapse"
                                        data-target="#faqs-collapseTwo" aria-expanded="false"
                                        aria-controls="faqs-collapseTwo">
                                    چگونه می‌توانم به مقالات و محتواهای تولید شده توسط تکگاه دسترسی پیدا کنم؟
                                </button>
                            </h5>
                        </div>
                        <div id="faqs-collapseTwo" class="collapse faqs-show" aria-labelledby="faqs-headingTwo"
                             data-parent="#faqs-accordion">
                            <div class="card-body faqs-card-body">
                                برای دسترسی به مقالات و محتواهای تکگاه، می‌توانید به وبسایت آن مراجعه کرده و از قسمت منو یا دسته‌بندی‌های مختلف، مقالات مورد نظر خود را جستجو کنید و مطالعه نمایید.
                            </div>
                        </div>
                    </div>
                    <div class="card faqs-card">
                        <div class="card-header faqs-card-header" id="faqs-headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed faqs-btn-link" data-toggle="collapse"
                                        data-target="#faqs-collapseThree" aria-expanded="false"
                                        aria-controls="faqs-collapseThree">
                                    آیا محتواهای منتشر شده در تکگاه مورد تأیید و اعتبار قرار گرفته‌اند؟
                                </button>
                            </h5>
                        </div>
                        <div id="faqs-collapseThree" class="collapse faqs-show" aria-labelledby="faqs-headingThree"
                             data-parent="#faqs-accordion">
                            <div class="card-body faqs-card-body">
                                له، محتواهای منتشر شده در تکگاه ممکن است توسط تیم تحریریه مورد بررسی و تأیید قرار گیرند تا اطمینان حاصل شود که اطلاعات ارائه شده دقیق و قابل اعتماد است.
                            </div>
                        </div>
                    </div>
                    <div class="card faqs-card">
                        <div class="card-header faqs-card-header" id="faqs-headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed faqs-btn-link" data-toggle="collapse"
                                        data-target="#faqs-collapseFour" aria-expanded="false"
                                        aria-controls="faqs-collapseFour">
                                    آیا می‌توانم به عنوان یک نویسنده مستقل مقالات خود را در تکگاه منتشر کنم؟
                                </button>
                            </h5>
                        </div>
                        <div id="faqs-collapseFour" class="collapse faqs-show" aria-labelledby="faqs-headingFour"
                             data-parent="#faqs-accordion">
                            <div class="card-body faqs-card-body">
                                له، اگر شما یک نویسنده مستقل هستید و تمایل دارید مقالات خود را منتشر کنید، می‌توانید با تیم تحریریه تکگاه تماس بگیرید و شرایط همکاری و انتشار مقالات خود را بررسی کنید.
                            </div>
                        </div>
                    </div>
                    <div class="card faqs-card">
                        <div class="card-header faqs-card-header" id="faqs-headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed faqs-btn-link" data-toggle="collapse"
                                        data-target="#faqs-collapseFive" aria-expanded="false"
                                        aria-controls="faqs-collapseFive">
                                    آیا تکگاه امکان انتشار خبرهای تازه و رویدادهای مهم را فراهم می‌کند؟
                                </button>
                            </h5>
                        </div>
                        <div id="faqs-collapseFive" class="collapse faqs-show" aria-labelledby="faqs-headingFive"
                             data-parent="#faqs-accordion">
                            <div class="card-body faqs-card-body">
                                بله، تکگاه ممکن است به عنوان یک سایت خبری نیز عمل کند و اخبار تازه و رویدادهای مهم را پوشش دهد تا کاربران به روز باشند.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-4">
                <div class="faqs-right-area">

                    <div class="faqs-right-img"></div>
                    <div class="faqs-right-img-overlay">
                        <img src="img/watch-7.png" alt="image">
                    </div>
                    <div class="shape-area">
                        <img src="img/star-1.png" class="shape-1" alt="image">
                        <img src="img/star-1.png" class="shape-2" alt="image">
                        <img src="img/star-1.png" class="shape-3" alt="image">
                        <img src="img/star-1.png" class="shape-4" alt="image">
                        <img src="img/star-1.png" class="shape-5" alt="image">
                        <img src="img/star-1.png" class="shape-6" alt="image">
                        <img src="img/star-1.png" class="shape-7" alt="image">
                        <img src="img/star-1.png" class="star shape-8" alt="image">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- faqs section begin -->
<!-- subscribe section begin -->
<section class="subscribe-section rtl-area">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-text">
                    <h2 class="subscribe-title">عضویت در خبرنامه سایت</h2>
                    <h2 class="subscribe-subtitle">برای دریافت اخرین اخبار</h2>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <div class="col-lg-8">
                <div class="subscribe">
                    <input type="email" name="email" id="subs_email" placeholder="ایمیل خود را وارد کنید"
                           autocomplete="off"
                           class="input-subscribe">
                    <button class="subscribe-btn">عضویت</button>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- subscribe section end -->
<!-- contact us section begin -->
<section class="contact-us-section" id="contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-us-area">

                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8 text-center">
                            <div class="contact-us-text">
                                <h5 class="contact-us-title">به کمک ما نیاز دارید؟</h5>
                                <h2 class="contact-us-subtitle">تماس با ما</h2>
                                <p class="contact-us-title-describe">
                                    با تشکر از توجه شما به تماس با ما در سایت تکگاه. ما همواره خوشحالیم که از شما بشنویم و پاسخگوی هرگونه سوال، پیشنهاد یا انتقادی باشیم. برای ارتباط با ما، می‌توانید از راه‌های زیر استفاده کنید:

                                    - ارسال ایمیل به آدرس info@tekgah.com-abolfazlabbaszadeh1382@gmail.com
                                    - تماس تلفنی با شماره 09154819277-09303537685
                                    - پر کردن فرم تماس با ما در صفحه ارتباط با ما در وبسایت ما

                                    ما به سرعت به پیام‌های شما پاسخ خواهیم داد و تلاش خواهیم کرد تا تمامی نیازهای شما را برآورده سازیم. با تشکر از همراهی شما.

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="contact-form">
                                <form id="contactForm" method="post" class="contact-form-aqua">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h3 class="rtl">نام</h3>
                                            <input type="text" name="name" required=""
                                                   placeholder="نام خود را وارد کنید" autocomplete="off"
                                                   class="contact-frm active">
                                        </div>
                                        <div class="col-lg-6">
                                            <h3 class="rtl">ایمیل</h3>
                                            <input type="email" name="email" required=""
                                                   placeholder="ایمیل خود را وارد کنید" autocomplete="off"
                                                   class="contact-frm">
                                        </div>
                                    </div>
                                    <h3 class="rtl">موضوع</h3>
                                    <input type="text" name="name" required="" placeholder="موضوع خود را بنویسید"
                                           autocomplete="off" class="contact-frm">
                                    <h3 class="rtl">پیام</h3>
                                    <textarea name="message" id="message" placeholder="پیام خود را بنویسید"
                                              class="contact-msg"></textarea>
                                    <div class="btn-submit">
                                        <input id="form-submit" type="submit" value="ارسال پیام" class="contact-btn">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>
<!-- contact us section end -->
<!-- footer section begin -->
